<!-- app/views/orders/new.html.erb -->
<div class="container mt-5">
  <h1 class="mb-4">Review Your Order</h1>

  

  <% total_price = 0 %>

  <table class="table">
    <thead class="table-light">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |product, quantity| %>
        <% subtotal = product.price * quantity %>
        <% total_price += subtotal %>
        <tr>
          <td><%= product.name %></td>
          <td><%= quantity %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= number_to_currency(subtotal) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mb-4">
    <h3>Shipping Address</h3>
    <address>
      <%= @order.user.address_line1 %><br>
      <%= @order.user.city %>, <%= @order.user.province.name %><br>
      <%= @order.user.postal_code %>
    </address>
  </div>

  

<p>Subtotal: <%= number_to_currency(@subtotal) %></p>
<p>GST: <%= number_to_currency(@tax_details[:gst]) %></p>
<p>PST: <%= number_to_currency(@tax_details[:pst]) %></p>
<p>HST: <%= number_to_currency(@tax_details[:hst]) %></p>
<p>Total Estimated Tax: <%= number_to_currency(@tax_details[:total_tax]) %></p>
<h3>Total: <%= number_to_currency(@total_with_taxes) %></h3>

<%= link_to 'Back to Cart', cart_path, class: 'btn btn-secondary' %>


  <div class="d-flex justify-content-between align-items-center mb-4">
    
    <%= button_to 'Place Order', orders_path, method: :post, params: { order: { product_ids: @cart_items.map { |product, quantity| product.id }, quantities: @cart_items.map { |product, quantity| quantity } } }, class: 'btn btn-primary' %>
  </div>


</div>
