<!-- app/views/orders/show.html.erb -->
<h1>Order Confirmation</h1>

<p><strong>Order ID:</strong> <%= @order.id %></p>
<p><strong>Date:</strong> <%= @order.created_at.strftime("%B %e, %Y") %></p>

<h3>Products Ordered</h3>
<ul>
  <% @order.order_tracks.each do |order_track| %>
    <li>
      <%= order_track.product.name %> - Quantity: <%= order_track.quantity %>, Price: $<%= order_track.price_at_purchase %>
    </li>
  <% end %>
</ul>

<p>Subtotal: <%= number_to_currency(@order.total_price) %></p>
<p>Tax Amount: <%= number_to_currency(@order.tax_amount) %></p>
<p>Total: <%= number_to_currency(@order.total_price + @order.tax_amount) %></p>

<p><strong>Total Price:</strong> $<%= @order.total_price %></p>
