<!-- app/views/products/index.html.erb -->
<div class="container text-center">
  <!-- Navigation Links -->
  <nav class="nav justify-content-center">
    <%= link_to 'On Sale', products_path(on_sale: true), class: 'nav-link' %>
    <%= link_to 'New Products', products_path(new: true), class: 'nav-link' %>
    <%# <%= link_to 'Recently Updated', products_path(recently_updated: true), class: 'nav-link' %> 
  </nav>

  <!-- Heading with custom style -->
  <h2 class="mt-4" style="font-family: 'Cursive';">Available Products</h2>
</div>

<div class="row">
  <%= render partial: 'products/product', collection: @products, as: :product %>
</div>

<%= paginate @products %>
